<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cadastro de Alunos</title>

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="container">

        <h1>Cadastro de Produtos</h1>

        <a href="/cadastrar" class="botao">
            + Novo Produto
        </a>

        <table>

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome do produto</th>
                    <th>categoria</th>
                    <th>Preço</th>
                    <th>Estoque</th>
                </tr>
            </thead>

            <tbody>

                {% for produto in produtos %}

                <tr>

                    <td>{{ produto["id"] }}</td>

                    <td>{{ produto["nome"] }}</td>

                    <td>{{ produto["categoria"] }}</td>

                    <td>{{ produto["preco"] }}</td>

                    <td>{{ produto["estoque"] }}</td>

                    <td>

                        <a
                            href="/editar/{{ produto['id'] }}"
                            class="editar">
                            Editar
                        </a>

                        <a
                            href="/excluir/{{ produto['id'] }}"
                            class="excluir"
                            onclick="return confirm('Deseja realmente excluir este produto?')">
                            Excluir
                        </a>

                    </td>

                </tr>

                {% else %}

                <tr>
                    <td colspan="5">
                        Nenhum produto cadastrado.
                    </td>
                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</body>

</html>